.attribution {
  font-size: 11px;
  text-align: center;
  margin: 0;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }
}
.attribution a {
  color: var(--magenta);
}
