:root {
  --font-title: 'Poppins', sans-serif;
  --font-body: 'Open Sans', sans-serif;
}

body {
  line-height: 1.5;
  font-family: var(--font-body);
  font-size: 1.5rem;
}

h1,
h2,
h3 {
  font-family: var(--font-title);
}

h1 {
  font-weight: 600;
}
